modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "nginx"]

[userenv]

[userenv.shared]
OBUMA_API_KEY = "ff5bfe7710dd17ac298f60bd469b7b9b"
OBUMA_BASE_URL = "https://api-g1.obuma.cl/v1.0"
TZ = "America/Santiago"
DASHBOARD_USER = "gabrielhoyos"
EMAIL_FROM = "reportes@autoreportes.cl"
EMAIL_FROM_NAME = "BI Platform - VLSur"
ADMIN_USER = "webmakerchile@gmail.com"

[userenv.production]
REPL_DEPLOYMENT = "1"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]
